@import "tailwindcss";

@font-face {
  font-family: 'Inconsolata-VariableFont';
  src: url(/public/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}


@theme{
  --font-Inconsolata-VariableFont: 'Inconsolata-VariableFont';
  --color-Neutral0: hsl(0, 0%, 100%);
--color-Neutral300: hsl(252, 6%, 83%);
--color-Neutral500: hsl(245, 15%, 58%);
--color-Neutral700: hsl(245, 19%, 35%);
--color-Neutral900: hsl(248, 70%, 10%);
--color-Orange500: hsl(7, 88%, 67%);
--color-Orange700: hsl(7, 71%, 60%);
--color-Gradient-text-start: hsl(7, 86%, 67%);
--color-Gradient-text-start: hsl(0, 0%, 100%);
}